body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-color: blue;
  --secondary-color: black;
  --text-color: black;
  --link-color: green;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
}

a {
  color: var(--link-color);
}

a:visited {
  color: aqua;
}

.heroContainer {
  height: 100vh;
  width: 100vw;
}

.hero {
  background-image: url("../images/hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
